!addons/
*.autosave*
*.backup*
*.bin
*.csv
*.csv.import
*.dbs
*.exe
*.iso
*.lev
*.pck
*.pk3
*.psd
*.TMP
*.tmp
*.translation
*.WAD
*.wad
*.cue
.gitattributes
.editorconfig
.godot
.mono/
/android/
/build
/Wads
/TIMS
/LEVS
/CTRS
data_*/
dbg
default_bus_layout.tres
export.cfg
export_presets.cfg
game_imports
/debug
/export
history.cfg
history.txt
icon.svg*
project.godot
screenshots
/test.tscn
/test2.tscn
/test.gd.uid
/test.gd