!addons/
*.autosave*
*.backup*
*.bin
*.cue
*.csv
*.csv.import
*.dbs
*.exe
*.iso
*.lev
*.pck
*.pk3
*.psd
*.TMP
*.tmp
*.translation
*.WAD
*.wad
.gitattributes
.editorconfig
.godot
.mono/
/android/
/build
/Wads
/TIMS
/LEVS
/CTRS
data_*/
dbg
default_bus_layout.tres
export.cfg
export_presets.cfg
game_imports
/debug
/export
history.cfg

history.txt
icon.svg*
project.godot
screenshots